
<% include ./partials/header %>
    
    <div class='gallery'>
      <div class='imgWrap imgWrap1' style='background-image:url(http://dwarfhamsterhome.com/wp-content/uploads/2015/10/roborovski_offspring_8days-300x224.jpg); '></div>
      <div class='imgWrap imgWrap2' style='background-image:url(http://dwarfhamsterhome.com/wp-content/uploads/2015/10/white-face-roborovski-hamster-300x284.jpg);'></div>
      <div class='imgWrap imgWrap3' style='background-image:url(https://media.karousell.com/media/photos/products/2015/09/16/roborovski_dwarf_hamster_female_1442418840_bd8e26c6.jpg);'></div>
      <div class='imgWrap imgWrap4' style='background-image:url(https://external-preview.redd.it/Lt_Emghuls_g4m8zKhmo5MHFtvQiwEye4X22YInopYI.jpg?auto=webp&s=c167965b473f402ec71c8392f9b846f2fe83e82a);'></div>
      <div class='imgWrap imgWrap5' style='background-image:url(https://dumielauxepices.net/sites/default/files/drawn-hamster-roborovski-hamster-544929-4882420.jpg);'></div>
    </div>
    
    <div class="row">          
      <div class="col-md-3">
          <p class="lead"> Years </p>
          <div class="list-group">
              <li class="list-group-item active">2019</li>
              <li class="list-group-item">2018</li>
              <li class="list-group-item">2017</li>
          </div>
      </div>
      
      <div class="col-md-9 content-container">
        <div class="con-con thumbnail">
          <div class="col-md-6">
            <img class="img-responsive" src="https://www.thesprucepets.com/thmb/wTPLSiQYaPSGJ2HHwJHiYm6b7yw=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-140212719-56a2bd493df78cf7727964af.jpg">
          </div>
          <div class="col-md-6">
            <h3>Date: 2019-01-01</h3>
            <p>
              Cheeks puffed, growling, and ready to pick a fight with a barn cat: The black-bellied hamster is a far cry from the domesticated hamster you might have as a pet. It’s a good thing these black-bellied hamsters are defending themselves, because in France, where only 500 to 1,000 remain in the wild, these courageous critters are literally fighting for survival.
            </p>
          </div>
          <br/>
        </div>
        
        <% blogs.forEach(function(blog) { %>
          <div class="con-con thumbnail">
            <div class="col-md-6">
              <img src=" <%= blog.image %>">
            </div>
            <div class="col-md-6">
              <h3 class="header" style="text-align: center;" href="/<%= blog._id %>"> <%= blog.title %> </h3>
              <div class="meta">
                <h5> Post Date: <%= blog.created.toDateString() %> </h5>
              </div>
              <div class="describtion" style="margin-top: 10px;">
                <p> <%= blog.content.substring(0, 200) %></p>
              </div>
            </div>
            <br/>
          </div>
        <% }) %>
        
        
        
        <a class="btn btn-primary" href="/new">Add a new blog</a>
        
      </div>
    </div>
    
  <% include ./partials/footer %>

